.ProblemItem {
  margin: 1rem 2rem 1rem;
  display: flex;
  justify-content: center;
}
.image {
  font-size: 7rem;
  display: flex;
  justify-content: center;
  margin-top: 3rem;
  margin-bottom: 3rem;
}
.text {
  text-align: center;
  font-size: 1.5rem;
  margin-top: 1.5rem;
}
