.CustomSearch {
    ul {
        margin-top: 10px;
        // position: absolute;
        overflow-y: auto;
        background: transparent;
        width: 100%;
        height: 100%;
        outline: none;
        position: relative;
        display: flex;
        flex-direction: column;
    }
    li {
        display: flex;
    align-items: center;
    cursor: pointer;
    white-space: pre-wrap;
    color: inherit;
    }
}

.spinner {
    width: 10px;
}
